In [1]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

bd1_data_path = "Resources/Realtor_1BD.csv"
bd2_data_path = "Resources/Realtor_2BD.csv"
bd3_data_path = "Resources/Realtor_3BD.csv"
bd4_data_path = "Resources/Realtor_4BD.csv"
bd5_data_path = "Resources/Realtor_5BD.csv"

austin_bnb_path = "Resources/aus_listings.csv"
boston_bnb_path = "Resources/bos_listings.csv"
chicago_bnb_path = "Resources/chi_listings.csv"
sandiego_bnb_path = "Resources/sd_listings.csv"
seattle_bnb_path = "Resources/sea_listings.csv"

bd1_df = pd.read_csv(bd1_data_path)
bd2_df = pd.read_csv(bd2_data_path)
bd3_df = pd.read_csv(bd3_data_path)
bd4_df = pd.read_csv(bd4_data_path)
bd5_df = pd.read_csv(bd5_data_path)

aus_bnb_df = pd.read_csv(austin_bnb_path)
bos_bnb_df = pd.read_csv(boston_bnb_path)
chi_bnb_df = pd.read_csv(chicago_bnb_path)
sd_bnb_df = pd.read_csv(sandiego_bnb_path)
sea_bnb_df = pd.read_csv(seattle_bnb_path)

aus_bnb_df.head()

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (87) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,2265,https://www.airbnb.com/rooms/2265,20181112235459,2018-11-13,Zen-East in the Heart of Austin,Zen East is situated in a vibrant & diverse mu...,This colorful and clean 1923 house was complet...,Zen East is situated in a vibrant & diverse mu...,none,NaN,...,f,NaN,"{""Texas State""}",f,f,strict_14_with_grace_period,f,f,3,0.20
1,5245,https://www.airbnb.com/rooms/5245,20181112235459,2018-11-13,"Green, Colorful, Clean & Cozy home",NaN,Situated in a vibrant & diverse multicultural ...,Situated in a vibrant & diverse multicultural ...,none,NaN,...,f,NaN,"{""Texas State""}",f,f,strict_14_with_grace_period,f,f,3,0.08
2,5456,https://www.airbnb.com/rooms/5456,20181112235459,2018-11-13,"Walk to 6th, Rainey St and Convention Ctr",Fabulous location for walking to Convention Ce...,Cute Private Studio apartment located in Willo...,Fabulous location for walking to Convention Ce...,none,My neighborhood is ideally located if you want...,...,f,NaN,"{""Texas State""}",f,f,strict_14_with_grace_period,f,t,1,3.91
3,5769,https://www.airbnb.com/rooms/5769,20181112235459,2018-11-13,NW Austin Room,NaN,Looking for a comfortable inexpensive room to ...,Looking for a comfortable inexpensive room to ...,none,Quiet neighborhood with lots of trees and good...,...,f,NaN,"{""Texas State""}",f,f,moderate,t,t,1,2.27
4,6413,https://www.airbnb.com/rooms/6413,20181112235459,2018-11-13,Gem of a Studio near Downtown,"Great studio apartment, perfect for couples or...","(License #114332) Large, contemporary studio a...","Great studio apartment, perfect for couples or...",none,Travis Heights is one of the oldest neighborho...,...,f,32041657928,"{""Texas State""}",t,f,strict_14_with_grace_period,f,f,1,0.73

In [2]:
bd1_df.head()

,Month,CBSACode,CBSATitle,Country,PropertyType,NoOfBdrs,MedianListingPrice,MedianListingPrice M/M,MedianListingPrice Y/Y,MedianListingSqft,...,TotalListingCount Y/Y,PendingRatio,PendingRatio M/M,PendingRatio Y/Y,Views M/M,Views Y/Y,ViewsPerProperty M/M,ViewsPerProperty Y/Y,QualityFlagPending,QualityFlagSqft
0,201811,36540.0,"Omaha-Council Bluffs, NE-IA",USA,Condo/Townhome/Row Home/Co-Op,bdrs_1,193725.0,-0.1651,0.6590,930.0,...,-0.0328,0.0000,0.0000,-0.4524,-0.3377,-0.0208,-0.2385,-0.3083,1.0,0.0
1,201811,10140.0,"Aberdeen, WA",USA,Condo/Townhome/Row Home/Co-Op,bdrs_1,81550.0,0.0316,-0.1638,612.0,...,-0.0222,0.0732,0.0219,-0.0244,-0.2160,0.1861,-0.2353,0.2264,0.0,0.0
2,201811,26420.0,"Houston-The Woodlands-Sugar Land, TX",USA,Condo/Townhome/Row Home/Co-Op,bdrs_1,146675.0,-0.0215,0.0481,793.0,...,0.0338,0.2307,-0.0041,-0.0729,-0.0900,0.0412,-0.0769,-0.0588,0.0,0.0
3,201811,34740.0,"Muskegon, MI",USA,Condo/Townhome/Row Home/Co-Op,bdrs_1,129950.0,-0.0371,0.0048,791.0,...,3.5000,0.0000,0.0000,0.0000,-0.3629,2.9752,-0.4157,-0.1333,0.0,0.0
4,201811,23860.0,"Georgetown, SC",USA,Condo/Townhome/Row Home/Co-Op,bdrs_1,153784.5,0.0605,-0.1088,501.0,...,-0.3429,0.0000,0.0000,0.0000,0.6983,-0.3091,0.5000,0.1250,0.0,0.0

In [3]:
bd1_df = bd1_df[bd1_df["CBSATitle"].str.contains("Boston|Austin|San Diego|Chicago|Seattle") == True]
bd1_df = bd1_df[bd1_df["CBSATitle"].str.contains("MN") == False]
bd1_df = bd1_df[bd1_df["PropertyType"] == "Total"]
bd1_df = bd1_df[["CBSATitle","PropertyType","MedianListingPrice "]]

bd2_df = bd2_df[bd2_df["CBSATitle"].str.contains("Boston|Austin|San Diego|Chicago|Seattle") == True]
bd2_df = bd2_df[bd2_df["CBSATitle"].str.contains("MN") == False]
bd2_df = bd2_df[bd2_df["PropertyType"] == "Total"]
bd2_df = bd2_df[["CBSATitle","PropertyType","MedianListingPrice "]]

bd3_df = bd3_df[bd3_df["CBSATitle"].str.contains("Boston|Austin|San Diego|Chicago|Seattle") == True]
bd3_df = bd3_df[bd3_df["CBSATitle"].str.contains("MN") == False]
bd3_df = bd3_df[bd3_df["PropertyType"] == "Total"]
bd3_df = bd3_df[["CBSATitle","PropertyType","MedianListingPrice "]]

bd4_df = bd4_df[bd4_df["CBSATitle"].str.contains("Boston|Austin|San Diego|Chicago|Seattle") == True]
bd4_df = bd4_df[bd4_df["CBSATitle"].str.contains("MN") == False]
bd4_df = bd4_df[bd4_df["PropertyType"] == "Total"]
bd4_df = bd4_df[["CBSATitle","PropertyType","MedianListingPrice "]]

bd5_df = bd5_df[bd5_df["CBSATitle"].str.contains("Boston|Austin|San Diego|Chicago|Seattle") == True]
bd5_df = bd5_df[bd5_df["CBSATitle"].str.contains("MN") == False]
bd5_df = bd5_df[bd5_df["PropertyType"] == "Total"]
bd5_df = bd5_df[["CBSATitle","PropertyType","MedianListingPrice "]]

bd1_df.head()

                               CBSATitle PropertyType  MedianListingPrice
1361         Seattle-Tacoma-Bellevue, WA        Total             405787.5
1447  Chicago-Naperville-Elgin, IL-IN-WI        Total             179550.0
1646      Boston-Cambridge-Newton, MA-NH        Total             357450.0
1744               Austin-Round Rock, TX        Total             305050.0
1791              San Diego-Carlsbad, CA        Total             358675.0

In [4]:
aus_bnb_df = aus_bnb_df[["latitude","longitude","room_type","bedrooms","price","minimum_nights",
                         "availability_365","number_of_reviews","reviews_per_month"]]
aus_bnb_df = aus_bnb_df.dropna()
aus_bnb_df = aus_bnb_df[aus_bnb_df["room_type"] == "Entire home/apt"]

bos_bnb_df = bos_bnb_df[["latitude","longitude","room_type","bedrooms","price","minimum_nights",
                         "availability_365","number_of_reviews","reviews_per_month"]]
bos_bnb_df = bos_bnb_df.dropna()
bos_bnb_df = bos_bnb_df[bos_bnb_df["room_type"] == "Entire home/apt"]

chi_bnb_df = chi_bnb_df[["latitude","longitude","room_type","bedrooms","price","minimum_nights",
                         "availability_365","number_of_reviews","reviews_per_month"]]
chi_bnb_df = chi_bnb_df.dropna()
chi_bnb_df = chi_bnb_df[chi_bnb_df["room_type"] == "Entire home/apt"]

sd_bnb_df = sd_bnb_df[["latitude","longitude","room_type","bedrooms","price","minimum_nights",
                         "availability_365","number_of_reviews","reviews_per_month"]]
sd_bnb_df = sd_bnb_df.dropna()
sd_bnb_df = sd_bnb_df[sd_bnb_df["room_type"] == "Entire home/apt"]

sea_bnb_df = sea_bnb_df[["latitude","longitude","room_type","bedrooms","price","minimum_nights",
                         "availability_365","number_of_reviews","reviews_per_month"]]
sea_bnb_df = sea_bnb_df.dropna()
sea_bnb_df = sea_bnb_df[sea_bnb_df["room_type"] == "Entire home/apt"]

aus_bnb_df.head()

,latitude,longitude,room_type,bedrooms,price,minimum_nights,availability_365,number_of_reviews,reviews_per_month
0,30.277500,-97.713975,Entire home/apt,2.0,$225.00,2,52,23,0.20
2,30.261116,-97.734483,Entire home/apt,1.0,$95.00,2,315,461,3.91
5,30.260273,-97.765029,Entire home/apt,1.0,$129.00,3,191,193,2.20
6,30.236157,-97.736823,Entire home/apt,1.0,$40.00,3,174,45,0.42
7,30.250150,-97.741902,Entire home/apt,2.0,$260.00,2,321,41,0.59